extends layout

block content
    h1 Here's How You're Feeling...
    <br>
    p #[b Entry:] #{entry}
    <br>
    p #[b Sentiment Scores]
    p #[b Joy:] #{joy}
    p #[b Sadness:] #{sadness}
    p #[b Fear:] #{fear}
    p #[b Disgust:] #{disgust}
    p #[b Anger:] #{anger}
